:root {
    --bg: white;
    --text: black;
    --header: rgb(139, 74, 84);
    --hover: rgb(249, 108, 131);
    --subheader: rgb(81, 30, 38);
  }

/* header and nav section */

header{
    background-color: var(--header);
    color: var(--text);
    display: flex;
    justify-content: space-between;
    text-align: right;
    align-items: center;
  }

h1{
    text-align: left;
    display: flex;
    background-color: var(--header);
}

h2{
    text-align: center;
    color: var(--subheader);
}
nav ul{
    background-color: var(--header);
    list-style-type: none;
    margin: 8px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    float: right;
}
  
nav a {
    display: flex;
    color: var(--bg);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover {
    background-color: var(--hover);
  }

/* body & main and about me photo section */

body main{
    background-color: var(--bg);
    color: var(--text);
    flex: 1 1 0;
    font-family:'Times New Roman', Times, serif;
}

.profile img{
    width: 150px;
    height: 190px;
    border: 2px solid var(--header);
    border-radius: 25px;
    float: left;
    margin-right: 2%;
}

/* displaying work/applications section */

.container {
    display: flex;
    flex-direction: row;
    padding: 10px;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
  }

.main-application {
    background-color: var(--header);
    transition: width 1s, height 1s, background-color 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-style: solid;
    border-color: var(--hover);
    border-width: 1px;
    border-radius: 30px;
    padding: 10px;
}
.application {
    background-color: var(--header);
    transition: width 1s, height 1s, background-color 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-style: solid;
    border-color: var(--hover);
    border-width: 1px;
    border-radius: 30px;
    padding: 10px;
}

.main-application p{
    text-align: center;
}
.application p{
    text-align: center;
}

.main-application img{
    width: 500px;
    height: 300px;
}
.application img {
    width: 200px;
    height: 200px;
}

.main-application:hover {
    background-color: var(--hover);
    width: 600px;
    height: 400px;
}
.application:hover {
    background-color: var(--hover);
    width: 400px;
    height: 300px;
}

.main-application img:hover{
    width: 550px;
    height: 350px;
}
.application img:hover{
    width: 250px;
    height: 250px;
}

 /* contact me section */
.contact {
    float: center;
    text-align: center;
    margin: 5px;
    padding: 5px;
}

/* footer */

footer {
    display: flex;
    text-align: center;
    font-size: 11pt;
    bottom: 0;
    justify-content: center;
    background-color: var(--header);

}

/* media queries */

@media screen and (max-width: 768px){
    header {
      flex-direction: column;
    }
    main {
        flex-direction: column;
    }
}
