:root {
    --bg: white;
    --text: black;
    --header: rgb(252, 190, 199);
    --hover: rgb(249, 108, 131);
    --subheader: rgb(81, 30, 38);
  }

/* header and nav section */

header{
    background-color: var(--header);
    color: var(--text);
    display: flex;
    justify-content: space-between;
    text-align: right;
    align-items: center;
  }

h1{
    text-align: left;
    display: flex;
    background-color: var(--header);
}

h2{
    text-align: center;
    color: var(--subheader);
}
nav ul{
    background-color: var(--header);
    list-style-type: none;
    margin: 8px;
    padding: 8px;
    display: flex;
    justify-content: space-between;
    min-width: 250px;
    float: right;
}
  
nav a {
    display: flex;
    color: var(--bg);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
li a:hover {
    background-color: var(--hover);
  }

/* body and main section*/

body main{
    background-color: var(--bg);
    color: var(--text);
    flex: 1 1 0;
}

.profile img{
    width: 100px;
    height: 120px;
    border: 2px solid var(--hover);
    border-radius: 25px;
    float: left;
    margin-right: 2%;
}

.container {
    padding: 50px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

.application {
    display: flex;
  }


.contact {
    float: center;
    text-align: center;
    margin: 10px;
    padding: 5px;
    text-decoration: none;
}

footer {
    display: flex;
    text-align: center;
    font-size: 11pt;
    bottom: 0;
    justify-content: center;
    background-color: var(--header);

}

  
@media screen and (max-width: 768px){
    header {
      flex-direction: column;
    }
    main {
        flex-direction: column;
    }
}
